package components

templ Page() {
	<!DOCTYPE html>
	<html lang="en">
		<head></head>
		<body>
			<h1>Check the console for a log!</h1>
		</body>
		@inline(App())
	</html>
}

script App() {
  window.addEventListener("load", (event) => {
	  console.log("Loaded!")
  });
}

